/* 
    CSS for Today's Chuckle
    Created by: Luigi
*/

body {
    font-family: Georgia, serif;
}

h1, h2 {
    color:maroon; 
    font-family: Impact, sans-serif;
}

.container {
    margin: 0 auto;
    width: 500px;
}
  
.text-center{ 
    text-align: center;
}
  
.text-small {
    font-size: 12px;
}
