h1, h2 {
    color:maroon; 
    font-family: Impact, sans-serif;
}

body {
    font-family: Georgia, serif 
}

.container {
    margin: 0 auto;
    width: 500px;
}
  
.text-center{ 
    text-align: center;
}
  
.text-small {
    font-size: 12px;
}
